.idea/
*/.ipynb_checkpoints/*
*/data/
*/trash/
Lab1/checkpoint/*
Lab1/01_mnist_gan(raw).ipynb
Lab1/images/

Lab2/02_DcGAN(raw).ipynb
Lab2/images*/
Lab2/checkpoint/

Lab4/part_1
Lab4/CelebA/06*/fake*.png
Lab4/CelebA/checkpoint/
Lab4/CelebA/data/
Lab4/CelebA/geometry-score/
Lab4/CelebA/images/
Lab4/CelebA/pytorch-gan-metrics/
Lab4/CelebA/Trash/
Lab4/CelebA/Origin*
Lab4/CelebA/stats.npz


Lab4/MNIST/.idea/
Lab4/MNIST/.ipynb_checkpoints/*
Lab4/MNIST/data/
Lab4/MNIST/models/
Lab4/MNIST/__pycache__/

